@charset "utf-8";

/*==================================================
スライダーのためのcss
===================================*/
.slider img {
    width:auto;/*スライダー内の画像を横幅100%に*/
    height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin:0 0cqmin;/*スライド左右の余白調整*/
}


/*========= レイアウトのためのCSS ===============*/
header{
  background:#EDEDED;
  text-align: center;
 padding: 10px;
 height: 380px; 

 padding: 10px;
}
body{
  background:#EDEDED;
  text-align: center;


}





h2,p {
    text-align:center;
    font-size: 100px;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}




#display_button{
  text-align: center;

}

input[type="button"] {
  /* display: block; */
  margin: 20px 100px;
  padding: 10px 20px;
  font-size: 32px;
  border: none;
  background-color: #46A2B6;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}


h3{
  display: block;
 text-align: center;
 
}

h4{
  display: block;
 text-align: center;
 margin-top: 40px;
}

.namae{
  margin-top:100px;
  display:flex;
  justify-content: center; 
  align-items: center; 
  }
  .item{
    margin-left:100px;
    margin-right:150px ;
    font-size:24px;
  }
  .gazou{
    display:flex;
   
  }
  .item1{
    width: 20%;
    
  }
 
  