html {
  background-color: #EDEDED;
}


body {
  position: relative;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

main {
    height: 100vh;
}

span {
  padding: 5%;
}


h1 {
  text-align: center;
  margin-bottom: 20px;
}


#questionNumber,
#questionTitle {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}


#display_image{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-items: center;
  align-items: center;
  width: fit-content;
}

#display_image img {
  width: 45vw;
  height: 45vw;
  object-fit: cover;
  border: 5px solid #4B4B4B;
  &:active{
    transform: scale(.90);
  }
}

.lupe {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  width: 8vw;
  height: 8vw;
}

#display_image div {
  position: relative;
}


#display_button{
  text-align: center;

}

input[type="button"] {
  margin: 20px 100px;
  padding: 10px 20px;
  font-size: 32px;
  border: none;
  background-color: #46A2B6;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  &:active{
    transform: scale(.90);
  }
}

input[type="button"]:hover {
  background-color: #46A2B6;
}

a {
  display: block;
  text-align: center;
  font-size: 32px;
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
}



@media(hover: hover) {
  button:hover {
      background-color: #fff;
      color: #00BFFF;
  }

  a:hover {
      text-decoration: underline;
  }
}

.selectedImages{
  text-align: center;
  justify-items: center;
  align-items: center;
}

.selectedImages img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: 20px;
}

.tecido {
  display: flex;
  width: 30vw;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cooperation_companies {
    display: flex;
    text-align: center;
}
.tecido_logo {
  display: flex;
  width: 20vw;
  height: auto;
  justify-content: center;
}


h2,p, b {
  text-align:center;
}

@media screen and (max-width: 1080px) {
    body {
        background-attachment: scroll;
    }

    #display_image img {
        width: 40vw;
        height: 40vw;
    }
}
