html {
  background-color: #EDEDED;
}


body {
  position: relative;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

span {
  padding: 5%;
}

@media screen and(max-width: 768px) {
  body {
      background-attachment: scroll;
  }
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}


#questionNumber,
#questionTitle {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}


#display_image{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-items: center;
  align-items: center;
  width: fit-content;
}

#display_image img {
  width: 45vw;
  height: 45vw;
  object-fit: cover;
  border: 5px solid #4B4B4B;  
  &:active{
    transform: scale(.90);
  }
}

.lupe {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  width: 8vw;
  height: 8vw;
}

#display_image div {
  position: relative;
}


#display_button{
  text-align: center;

}

input[type="button"] {
  margin: 0 100px;
  padding: 10px 20px;
  font-size: 32px;
  border: none;
  background-color: #46A2B6;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  &:active{
    transform: scale(.90);
  }
}

.btn-start{
  margin: 20px 28vw;
  padding: 10px 20px;
  font-size: 32px;
  border: none;
  background-color: #46A2B6;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  &:active{
    transform: scale(.90);
  }
}

input[type="button"]:hover {
  background-color: #46A2B6;
}

a {
  display: block;
  text-align: center;
  font-size: 32px;
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
}



@media(hover: hover) {
  button:hover {
      background-color: #fff;
      color: #00BFFF;
  }

  a:hover {
      text-decoration: underline;
  }
}

.selectedImages{
  text-align: center;
  justify-items: center;
  align-items: center;
}

.selectedImages img {
  width: 80px; 
  height: 80px;
  object-fit: cover;
  margin: 20px;
} 

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  overflow-x: auto;
}

@media screen and (max-width: 600px) {
  .modal-content {
      width: 90%; /* 画面幅の90%に設定 */
      padding: 10px; /* 余白を少なく */
  }
}

.tecido {
  margin-left: 10vw;
  display: flex;
  align-items: center;
}
.tecido_logo {
  left: 15vw;
  width: 15vw;
  position: absolute;
  bottom: 1vh;
}
p.cooperation_companies {
  position: absolute;
  bottom: 2vh;
  left: 5vw;
}

h2,p, b {
  text-align:center;
  /*padding:20px;*/
}