<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>壁紙診断</title> 
  <link rel="stylesheet" href="../style/question.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.3.2.js"></script>
  <script>
    jQuery.migrateMute = false;
  </script>
</head>

<body>
  <main>
    <span></span>
    <div class="selectedImages">
      <img id="S1" src="">
      <img id="S2" src="">
      <img id="S3" src="">
      <img id="S4" src="">
      <img id="S5" src="">
      <img id="S6" src="">
    </div>

    <br>
    <br>
    <div id="display_image">
      <img id="A1" src="" onclick="answer(this.id)">
      <img id="A2" src="" onclick="answer(this.id)">
      <img id="A3" src="" onclick="answer(this.id)">
      <img id="A4" src="" onclick="answer(this.id)">
    </div>
    <br>
    <div id="display_button">
      <input type="button" onclick="back()" value="１つ戻る">
      <input type="button" onclick="answer('A0')" value="好みなし">
    </div>
    <div>
      <h4><p class="cooperation_companies">画像提供 : 株式会社テシード</p></h4>
    </div>
  </main>

  <script src="../store/score.js"></script>

  <script>
    let count = 1;
    let question_num = 6;
    let names = Array.from({ length: 6 }, () => Array(4).fill(null));
    let selectedImages = Array(question_num).fill("../img/question_mark.png");

    function updateProgressBar() {
      let progress_value = (count / question_num) * 100;
      $("#progressbar").progressbar({
        value: progress_value
      });
      $("#progressbar").find(".ui-progressbar-value").css({
        'background': '#00BFFF'
      });
      $("#progressbar").css({
        'border-radius': '100vh'
      });
    };

    const score = new scoreStore();

    window.addEventListener('load', async function () {
      console.log("load：リソースファイルを全て読み込みました.");
      const imageContainer = document.getElementById("image-container");

      let result = await getQuestion();
      if (result) {
        console.log("APIを6回たたけた");
        console.log("names");
        console.log(names);
        for (let i = 0; i < names[0].length && i < 4; i++) {
          const imageElement = document.getElementById("A" + (i + 1));
          console.log("A" + (i + 1) + "の取得");
          console.log(imageElement);
          console.log(names[0][i]);
          imageElement.src = "http://35.187.199.64/image?name=" + names[0][i] + "&mode=2";
        }
      } else {
        alert("問題の取得に失敗しました");
      }
    });

    async function getQuestion() {
      for (let n = 0; n < question_num; n++) {
        try {
          const response = await fetch("http://35.187.199.64/question?num=" + (n + 1));
          if (!response.ok) {
            throw new Error("ネットワーク応答が正常ではありませんでした");
          }
          console.log("loop=" + n);
          const result = await response.json();
          for (let v = 0; v < result.names.length && v < 4; v++) {
            names[n][v] = result.names[v];
          }
        } catch (error) {
          console.error("データの取得中にエラーが発生しました:", error);
          return false;
        }
      }
      return true;
    }

    score.setScore({ choices: [] });

    function answer(id) {
      let storedScores = score.getScore();
      id = id[1];
      if (id == "0") {
        selectedImages[count - 1] = "../img/bad_luck.png"
        storedScores.choices.push("");
        score.setScore(storedScores);
      } else {
        selectedImages[count - 1] = "http://35.187.199.64/image?name=" + names[count - 1][id - 1] + "&mode=2";
        storedScores.choices.push(names[count - 1][id - 1]);
        score.setScore(storedScores);
      }
      count++;

      console.log(score.getScore());

      if (count <= question_num) {
        setImage();
        getImage();
      } else {
        window.location.href = "result.html"
      }
    }

    function setImage() {
      for (let i = 0; i < names[count-1].length && i < 4; i++) {
        const imageElement = document.getElementById("A" + (i + 1));
        imageElement.src = "http://35.187.199.64/image?name=" + names[count-1][i] + "&mode=2";
      }
    }

    function getImage() {
      for (let i = 0; i < question_num; i++) {
        let name = "S" + String(i + 1)
        const imgElement = document.getElementById(name);
        imgElement.src = selectedImages[i]
      }
    }

    function delImage() {
      selectedImages[count - 2] = "../img/question_mark.png"
      getImage();
    }

    function back() {
      if (count > 1) {
        delImage();
        count--;
        let storedScores = score.getScore();
        let last = storedScores.choices.pop();
        console.log(last);
        console.log("↑削除");
        score.setScore(storedScores);
        console.log(score.getScore());
        console.log("↑最新");
        updateProgressBar();
        setImage();
      } else {
        alert("1つ以上答えて下さい")
      }
    }

    $(function () {
      updateProgressBar();
      setImage();
      getImage();
    });

  </script>
</body>

</html>
