<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>test</title>
  <link rel="stylesheet" href="../style/question.css">
  <!--//code.jquery.com/~~何か動かなかったので、https:を追加-->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.3.2.js"></script>
  <script>
    jQuery.migrateMute = false; // jQuery Migrateの警告を表示する設定
    // なんか必要っぽい？
  </script>
</head>

<body>
  <span></span>
  <!-- <div id="progressbar"></div> -->
  <div class="selectedImages">
    <img id="S1" src="">
    <img id="S2" src="">
    <img id="S3" src="">
    <img id="S4" src="">
    <img id="S5" src="">
    <img id="S6" src="">
  </div>

  <br>
  <br>
  <div id="display_image">
    <img id="A1" src="" onclick="answer(this.id)">
    <img id="A2" src="" onclick="answer(this.id)">
    <img id="A3" src="" onclick="answer(this.id)">
    <img id="A4" src="" onclick="answer(this.id)">
  </div>
  <br>
  <div id = "display_button">
    <input type="button" onclick="back()" value="１つ戻る">
    <input type="button" onclick="answer('A0')" value="好みなし">
  </div>

  <!-- jsファイルの読み込み -->
  <script src="../store/score.js"></script>
  <script src="../config/fixedItem.js"></script>

  <script>
    /* --- 変数定義 --- */
    // 回答数
    let count = 1;
    // 質問数
    let question_num = 6;
    let names = [];
    let selectedImages = Array(question_num).fill("../img/question_mark.png");

    /* --- プログレスバーの処理 --- */
    function updateProgressBar() {
      let progress_value = (count / question_num) * 100;
      $("#progressbar").progressbar({
        value: progress_value
      });
      $("#progressbar").find( ".ui-progressbar-value" ).css({
        'background':'#00BFFF'
      });
      $("#progressbar").css({
        'border-radius': '100vh'
      });
    };


    /* --- 初回表示時の処理 --- */
    // storeの初期化
    const score = new scoreStore();

    //ページが読み込まれたとき,一問目を読み込む
    window.addEventListener('load', function(){
			console.log("load：リソースファイルを全て読み込みました。");
      const imageContainer = document.getElementById("image-container");
      (async () => {
        try {
          const response = await fetch("http://35.187.199.64/question?num=" + count);
          if (!response.ok) {
            throw new Error("ネットワーク応答が正常ではありませんでした");
          }

          const result = await response.json();
          names = result.names;

          for (let i = 0; i < result.names.length && i < 4; i++) {
            const imageElement = document.getElementById("A" + (i + 1));
            imageElement.src = "http://35.187.199.64/image?name=" + result.names[i] + "&mode=2";
          }
        } catch (error) {
          console.error("データの取得中にエラーが発生しました:", error);
        }
      })();
		});


    // 初回読み込み時に、scoreをリセット
    score.setScore({ choices: [] });

    /* --- 関数 --- */
    function answer(id) {
      let storedScores = score.getScore();
      id = id[1];
      // console.log(id);
      if (id == "0"){ //好みなしが押された時の処理
        storedScores.choices.push("");
        score.setScore(storedScores);

      }else{ //画像が選択されたときの処理
        selectedImages[count-1] = "http://35.187.199.64/image?name="+names[id -1] + "&mode=2"; //選択された壁紙のIDを配列selectedImagesに格納する
        // console.log(selectedImages);
        storedScores.choices.push(names[id -1]);
        score.setScore(storedScores);
      }
      count++;

      console.log(score.getScore());
      // console.log(names[id - 1]);

      if (count <= question_num) {
        setImage();
        getImage();
      } else {
        //jsonデータファイルを作る
        window.location.href = "result.html"
      }      
      
      
    }

    function setImage() {
      (async () => {
        try {
          const response = await fetch("http://35.187.199.64/question?num=" + count);
          if (!response.ok) {
            throw new Error("ネットワーク応答が正常ではありませんでした");
          }
          const result = await response.json();
          names = result.names;

          for (let i = 0; i < result.names.length && i < 4; i++) {
            const imageElement = document.getElementById("A" + (i + 1));
            imageElement.src = "http://35.187.199.64/image?name=" + result.names[i] + "&mode=2";
          }


        } catch (error) {
          console.error("データの取得中にエラーが発生しました:", error);
        }
      })();
    }

    function getImage(){ //選択された壁紙のURLを取得する関数
      for (let i = 0; i<question_num;i++){
        let name = "S" + String(i+1)
        const imgElement = document.getElementById(name);
        imgElement.src = selectedImages[i]
      }
    }

    function delImage(){
      selectedImages[count-2] = "../img/question_mark.png"
      getImage();
    }
    
    function back() {
      if (count > 1) {
        delImage();
        count--;//ちょうどいい位置
        let storedScores = score.getScore();
        let last = storedScores.choices.pop();//一番上をpopした
        console.log(last);
        console.log("↑削除");
        score.setScore(storedScores);
        console.log(score.getScore());
        console.log("↑最新");
        updateProgressBar();
        setImage();
      } else {
        alert("1つ以上答えて下さい")
      }
    }


    // ページロード時の初期設定
    $(function () {
      updateProgressBar();
      setImage();
      getImage();
    });

  </script>
</body>