<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>画像から探す</title>
  <link rel="apple-touch-icon" href="../apple-touch-icon.png" sizes="180x180">
  <link rel="favicon" href="../favicon.ico">
  <link rel="stylesheet" href="../style/question.css?ver=1.2">
  <link rel="stylesheet" type="text/css" href="../style/modal-arrow.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.3.2.js"></script>
  <script>
    jQuery.migrateMute = false;
  </script>
</head>

<body>
  <main>
    <span></span>
    <div class="selectedImages">
      <img id="S1" src="" onclick="choosedModal(0)">
      <img id="S2" src="" onclick="choosedModal(1)">
      <img id="S3" src="" onclick="choosedModal(2)">
      <img id="S4" src="" onclick="choosedModal(3)">
      <img id="S5" src="" onclick="choosedModal(4)">
      <img id="S6" src="" onclick="choosedModal(5)">
    </div>

    <div id="display_image">
      <div id="A1_block">
        <img id="A1" src="" onclick="answer(this.id)">
        <img src="../img/lupe.svg" style="width: 10vw; height: 10vw; background-color: white;" class="A1_lupe lupe" onclick="addLupeClickListener('A1')">
      </div>
      <div id="A2_block">
        <img id="A2" src="" onclick="answer(this.id)">
        <img src="../img/lupe.svg" style="width: 10vw; height: 10vw; background-color: white;" class="A1_lupe lupe" onclick="addLupeClickListener('A2')">
      </div>
      <div id="A3_block">
        <img id="A3" src="" onclick="answer(this.id)">
        <img src="../img/lupe.svg" style="width: 10vw; height: 10vw; background-color: white;" class="A1_lupe lupe" onclick="addLupeClickListener('A3')">
      </div>
      <div id="A4_block">
        <img id="A4" src="" onclick="answer(this.id)">
        <img src="../img/lupe.svg" style="width: 10vw; height: 10vw; background-color: white;" class="A1_lupe lupe" onclick="addLupeClickListener('A4')">
      </div>
    </div>
    <br>
    <div id="display_button">
      <input type="button" onclick="back()" value="１つ戻る">
      <input type="button" onclick="answer('A0')" value="好みなし">
    </div>
    <div class="tecido">
      <h4 class="cooperation_companies">画像提供 : 株式会社テシード</h4>
      <img class="tecido_logo" src="../img/tecido_logo.png">
    </div>
  </main>

  <script src="../store/score.js"></script>
  <script src="../store/modal.js"></script>
  <script src="../store/slect_image.js"></script>
</body>

</html>
