<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../style/modal-arrow.css">
    <link rel="stylesheet" href="../style/words_search.css">
    <title>言葉から壁紙検索</title>
</head>
    <body>
        <main>
            <h1 id="title">言葉から壁紙検索</h1>
            <input name='input-custom-dropdown' class='some_class_name' placeholder='キーワードを入れてください' value=''>
            <script src="../store/search_list.js"></script>
            <script src="../store/text2images.js"></script>
            <script src="../store/modal.js"></script>
            <div id="image-area">
                <div id="image-container"></div>
            </div>
            <div class="tecido">
                <h4><p class="cooperation_companies">画像提供 : 株式会社テシード</p></h4>
                <img class="tecido_logo" src="../img/tecido_logo.png">
                <input type="button" onclick="location.href='../index.html';" value="スタートへ">
            </div>
        </main>
    </body>
</html>